= simple_form_for @swatch do |f|
  %legend= "swatch.#{controller.action_name}"
  = render 'shared/errors', object: f.object
  = f.input  :name
  = render 'editor', f: f
  = f.input  :description
  .form-actions
    = f.button :submit, class: 'btn btn-primary'
