= simple_form_for @swatch do |f|
  %legend= "sw4tch.#{controller.action_name}"
  = f.input  :name
  = f.input  :description
  = render 'editor', f: f
  .form-actions
    = f.button :submit, class: 'btn btn-primary'
