.btn-group.gist-button
  %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    %i.icon-github-text
    %span.text Gist
    %span.caret
  %ul.dropdown-menu
    %li
      = link_to 'CSS', '#', 'data-syntax' => 'css', 'data-label' => 'CSS'
      .btn-group
        = link_to 'Yes', '#', 'data-public' => true, class: 'btn btn-mini'
        = link_to 'No', '#', 'data-public' => false, class: 'btn btn-mini'
    %li
      = link_to 'SCSS', '#', 'data-syntax' => 'scss', 'data-label' => 'SCSS'
      .btn-group
        = link_to 'Yes', '#', 'data-public' => true, class: 'btn btn-mini'
        = link_to 'No', '#', 'data-public' => false, class: 'btn btn-mini'
    %li
      = link_to 'Stylus', '#', 'data-syntax' => 'stylus', 'data-label' => 'Stylus'
      .btn-group
        = link_to 'Yes', '#', 'data-public' => true, class: 'btn btn-mini'
        = link_to 'No', '#', 'data-public' => false, class: 'btn btn-mini'
.gist-url.pull-right
  = link_to '', '#'
