#swatches
  = render 'swatch'
  = render 'swatch'
  = render 'swatch'
  = render 'swatch'
  = render 'swatch'
  = render 'swatch'
  = render 'swatch'
  = render 'swatch'
  = render 'swatch'
  = render 'swatch'
  = render 'swatch'
  = render 'swatch'
