#swatch_form
  = simple_form_for @swatch do |f|
    .span7.editor-column
      .page-header
        .heading.pull-left
          %h2= @swatch.name
          %p.byline
            #{@swatch.created_at.strftime("%b %d, %Y")} <i>by</i> #{link_to @swatch.user.try(:username), user_path(@swatch.user)}

      = render 'editor', f: f

    .span5.preview-column
      #swatches.show
        = render @swatch
      = render 'actions'

      %p.description= @swatch.description

      - if @swatch.tags.any?
        .tags
          %strong <i class='eicon-tag'></i>
          = render collection: @swatch.tags, partial: 'shared/tag'
