%ul.nav.nav-tabs
  %li.active= link_to 'Swatches', '#swatches', class: 'swatches', id: 'swatches_tab', 'data-toggle' => 'tab'
  %li= link_to 'Swatchbooks', '#swatchbooks', class: 'swatchbooks', id: 'swatchbooks_tab', 'data-toggle' => 'tab'

.tab-content
  #swatches.index.tab-pane.active
    - unless @user == current_user
      .user-swatch
        = render 'users/user', user: @user
        = link_to '<span><i style="font-size: 216px;" class="eicon-github eicon-white"></i></span>'.html_safe, @user.identity.profile_url, class: 'user-link'
    = render collection: @swatches, partial: 'swatches/swatch'

    .pagination= will_paginate @swatches

  #swatchbooks.index.tab-pane
    = render collection: @swatchbooks, partial: 'swatchbooks/swatchbook'

    .pagination= will_paginate @swatchbooks
