#swatchbook_form.span7
  = simple_form_for [current_user, @swatchbook] do |f|
    %legend= "swatchbook.#{controller.action_name}"
    .row-fluid
      = f.input :name, input_html: { class: 'span12' }
      = f.input :description, input_html: { class: 'span12' }
      .form-actions
        = f.button :submit, class: 'btn-large btn-block btn-primary'
