!!!
%html
  %head
    %title Sw4tch
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ class: body_class }
    .container-fluid
      .row-fluid
        #sidebar.span3
          %h1#sw4tch= link_to 'sw4tch', root_path
          = render 'shared/flash', flash: flash if flash.present?
          = render 'shared/session'
          - if current_user
            = link_to 'New sw4tch', new_swatch_path, class: 'btn btn-block btn-primary btn-large'
        #content.span9
          = yield
          %footer.bottom-footer
            %hr
            = render 'shared/attribution'
