!!!
%html
  %head
    %title Sw4tch
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ class: body_class }
    = render 'shared/globals'
    = render 'shared/facebook'
    .container-fluid
      .row-fluid
        = render 'layouts/sidebar'
        #content.span9
          .span12
            = yield
          %footer.bottom-footer
            %hr
            = render 'shared/attribution'
